@import "../../../../6_shared/styles/constant.scss";

.my-skills {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 0 80px 200px 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  overflow: hidden;
}

.my-skills__title {
  @extend .font-header-1;
}

.my-skills__wrapper-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 40px;
}

.my-skills__row-1 {
  display: grid;
  grid-template-columns: 410px 1fr;
  grid-column-gap: 40px;
}

.my-skills__row-2 {
  display: grid;
  grid-template-columns: 1fr 610px;
  grid-column-gap: 40px;
}