@use "./mixins" as *;

$primary: #a0a0a0;
$bg-color: #121316;
$bloom: #dfdfdf;
$divider: #353535;
$skill-bg: #151619;

$border-radius: 8px;
$inner-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.25) inset;

.font-simple-1 {
  font-size: 1rem;
  font-weight: 400;
  font-variant-numeric: lining-nums;

  @include mobile {
    font-size: 0.9rem;
  }
}

.font-simple-2 {
  font-size: 2.5rem;
  font-weight: 300;
  font-variant-numeric: lining-nums;

  @include tablet {
    font-size: 2rem;
  }

  @include big-mobile {
    font-size: 1.8rem;
  }

  @include mobile {
    font-size: 1.6rem;
  }
}

.font-simple-3 {
  font-size: 1.125rem;
  font-weight: 400;
  font-variant-numeric: lining-nums;
  line-height: 1.75rem;

  @include mobile {
    font-size: 0.9rem;
  }
}

.font-display-1 {
  font-size: 6rem;
  font-weight: 600;
  font-variant-numeric: lining-nums;

  @include mini-laptop {
    font-size: 3.5rem;
  }

  @include tablet {
    font-size: 2.8rem;
  }

  @include big-mobile {
    font-size: 2.5rem;
  }
}

.font-header-1 {
  font-size: 3rem;
  font-weight: 600;
  font-variant-numeric: lining-nums;

  @include tablet {
    font-size: 2.5rem;
  }

  @include big-mobile {
    font-size: 2.2rem;
  }
}

.font-header-2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  font-variant-numeric: lining-nums;

  @include tablet {
    font-size: 1.1rem;
  }
}
