.link-button {
  --link-button-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--link-button-size);
  height: var(--link-button-size);
  color: $typography-secondary;
  border-radius: var(--link-button-size);
  border: $border solid 1px;
  transition: 0.3s;
  background-color: $background-ui;
  cursor: pointer;

  &:hover {
    border: $divider solid 1px;
    color: $typography-primary;
  }

  svg {
    transform: scale(1.2);
  }

  @include desktop {
    --link-button-size: 32px;
    
    svg {
      transform: scale(1);
    }
  }
}
