.link-button {
  --link-button-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--link-button-size);
  height: var(--link-button-size);
  color: $primary;
  border-radius: var(--link-button-size);
  border: $primary solid 1px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: $inner-shadow;
    border: $bloom solid 1px;
    color: $bloom;
  }

  svg {
    transform: scale(1.2);
  }

  @include desktop {
    --link-button-size: 32px;
    
    svg {
      transform: scale(1);
    }
  }
}
