.wrapper__preview {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding: 0;
}

.wrapper__header-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 60px 0;
}

.wrapper__header {
  @extend .font-display-1;
}
