.logo {
  --logo-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: var(--logo-size);
    height: var(--logo-size);
    color: $typography-primary;
  }

  div {
    position: absolute;
    width: var(--logo-size);
    height: var(--logo-size);
    max-width: 0px;
    max-height: 0px;
    background-color: $typography-secondary;
    border-radius: 64px;
    display: block;
    filter: blur(16px);
    transition: 0.6s;
  }

  &:hover div {
    max-width: var(--logo-size);
    max-height: var(--logo-size);
  }

  @include desktop {
    --logo-size: 32px;
  }
}
