@import "../../styles/constant.scss";

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 64px;
        transition: .6s;
        display: block;
        filter: blur(16px);
    }

    &:hover {
        div {
            width: 32px;
            height: 32px;
        }
    }
}