.select-language {
  min-width: 120px;
}

.select-language__trigger {
  width: fit-content;
  color: $typography-secondary;
  height: 40px;
  padding: 0 14px;
  border-radius: $border-radius;
  border: transparent solid 1px;
  min-width: auto;
  gap: 5px;

  &:hover {
    background-color: $background-ui;
    border: $divider solid 1px;
    color: $typography-primary;
  }
  
  svg {
    width: 24px;
    height: 24px;
  }

  @include desktop {
    height: 32px;
    padding: 0 10px;
    
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
