.skill-element {
  @extend .font-simple-1;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 52px;
  padding: 1px;
  border-radius: $border-radius;
  gap: 15px;
  padding: 0 14px;

  @include desktop {
    height: 46px;
    gap: 12px;
    padding: 0 11px;
  }

  @include laptop {
    height: 40px;
    gap: 10px;
    padding: 0 9px;
  }
}

.git {
  background: rgba(#f05033, 0.15);
}

.jira {
  background: rgba(#2580f7, 0.15);
}

.figma {
  background: linear-gradient(
    90deg,
    rgba(242, 78, 30, 0.15) 0%,
    rgba(255, 114, 98, 0.15) 25%,
    rgba(162, 89, 255, 0.15) 50%,
    rgba(26, 188, 254, 0.15) 75%,
    rgba(10, 207, 131, 0.15) 100%
  );
}

.bitbucket {
  background: rgba(#2684ff, 0.15);
}

.android-studio {
  background: rgba(#3ddc84, 0.15);
}

.spline {
  background: linear-gradient(
    90deg,
    rgba(83, 230, 203, 0.15) 0%,
    rgba(68, 129, 255, 0.15) 50%,
    rgba(255, 58, 243, 0.15) 100%
  );
}

.tilda {
  background: $background-ui-hover;
}

.react {
  background: rgba(#61dafb, 0.15);
}

.react-native {
  background: rgba(#61dafb, 0.15);
}

.vue {
  background: rgba(#4fc08d, 0.15);
}

.ionic {
  background: rgba(#3880ff, 0.15);
}

.redux {
  background: rgba(#764abc, 0.15);
}

.mobx {
  background: rgba(#ff9955, 0.15);
}

.graphql {
  background: rgba(#e10098, 0.15);
}

.firebase {
  background: rgba(#ffca28, 0.15);
}

.next-js {
  background: $background-ui-hover;
}

.react-query {
  background: rgba(#ff4154, 0.15);
}

.feature-sliced-design {
  background: rgba(#61dafb, 0.15);
}

.storybook {
  background: rgba(#ff4785, 0.15);
}

.vite {
  background: rgba(#646cff, 0.15);
}

.java-script {
  background: rgba(#f7df1e, 0.15);
}

.typescript {
  background: rgba(#3178c6, 0.15);
}

.java {
  background: rgba(#ea2d2e, 0.15);
}

.c-sharp {
  background: rgba(#9b4f96, 0.15);
}

.english {
  background: $background-ui-hover;
}

.russian {
  background: $background-ui-hover;
}

.japanese {
  background: $background-ui-hover;
}
