@import "../../styles/constant.scss";

.skill-element {
  @extend .font-simple-1;
  position: relative;
  width: fit-content;
  height: 40px;
  padding: 1px;
  border-radius: $border-radius;
}

.skill-element__inner-block {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  background: $skill-bg;
  border-radius: $border-radius;
  padding: 0 9px;
}

.git {
  background: #f05033;
}

.jira {
  background: #2580f7;
}

.figma {
  background: linear-gradient(
    90deg,
    rgba(242, 78, 30, 1) 0%,
    rgba(255, 114, 98, 1) 25%,
    rgba(162, 89, 255, 1) 50%,
    rgba(26, 188, 254, 1) 75%,
    rgba(10, 207, 131, 1) 100%
  );
}

.bitbucket {
  background: #2684ff;
}

.android-studio {
  background: #3ddc84;
}

.spline {
  background: linear-gradient(
    90deg,
    rgba(83, 230, 203, 1) 0%,
    rgba(68, 129, 255, 1) 50%,
    rgba(255, 58, 243, 1) 100%
  );
}

.tilda {
  background: #fff;
}

.react {
  background: #61dafb;
}

.react-native {
  background: #61dafb;
}

.vue {
  background: #4fc08d;
}

.ionic {
  background: #3880ff;
}

.redux {
  background: #764abc;
}

.mobx {
  background: #ff9955;
}

.graphql {
  background: #e10098;
}

.firebase {
  background: #ffca28;
}

.next-js {
  background: #fff;
}

.react-query {
  background: #ff4154;
}

.feature-sliced-design {
  background: #61dafb;
}

.storybook {
  background: #ff4785;
}

.vite {
  background: #646cff;
}

.java-script {
  background: #f7df1e;
}

.typescript {
  background: #3178c6;
}

.java {
  background: #ea2d2e;
}

.c-sharp {
  background: #9b4f96;
}

.english {
  background: $primary;
}

.russian {
  background: $primary;
}

.japanese {
  background: $primary;
}
