.card-project {
  border-radius: $border-radius;
  border: 1px solid $divider;
  background-color: $skill-bg;
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: left;
}

.card-project__body {
  padding: 0;
}

.card-project__image {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-project__title {
  @extend .font-header-2;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-project__description {
  @extend .font-simple-1;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 1.5rem);
}

.card-project__categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.card-project__footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
