@import "../../../../6_shared/styles/constant.scss";

.preview {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 80px;
}

.preview__text {
  @extend .font-display-1;
  white-space: pre-line;
  text-align: center;

  &::after {
    content: '❚';
    animation: cursor 3.5s ease 0s infinite normal none;
  }

  @keyframes cursor {

    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }
}